.main-header-box {
    height: 35px;
    -webkit-app-region: drag;
    position: relative;

    .header-logo-box {
        width: 190px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        display: flex;
        align-items: center;
        user-select: none;

        img {
            width: 20px;
            height: 100%;
        }

        span {
            margin-left: 5px;
            font-size: 12px;
            color: #00003a;
        }
    }

    .tool-area-box {
        position: absolute;
        right: 0;
        width: 141px;
        display: flex;
        height: 100%;
        -webkit-app-region: no-drag;

        .tool-item {
            width: 47px;
            height: 100%;
            line-height: 35px;
            cursor: pointer;
            z-index: 2;
            text-align: center;
            color: #b5b5b5;
            font-weight: 600;
            transition: all ease-in-out 150ms;
        }

        .tool-item:hover {
            background-color: #ccd5f2;
            -webkit-app-region: no-drag;
        }

        .close-btn:hover {
            background-color: #e81123;
            color: #fbfcfe;
        }
    }
}